<%= render 'lists/list_banner', list: @list %>

<div class="container d-flex justify-content-center mt-3 mb-1">
  <div class="container d-flex justify-content-end w-75">
    <a class="btn btn-success rounded-3 text-light" href="#bookmark_comment"><i class="fa-solid fa-video"></i> Add a movie</a>
  </div>
</div>

<div class="container d-flex justify-content-center">
  <div class="row row-cols-1 row-cols-md-2 g-4 w-75 mt-1 mb-4">

    <% @list.bookmarks.each do |bookmark| %>
      <%= render 'lists/bookmark_card', bookmark: bookmark, list: @list %>
    <% end %>

  </div>
</div>

<div class="container mb-3 d-flex justify-content-center">
  <div class="card mt-3 p-3 w-75 justify-content-center border-success">
  <h3>Add a bookmark</h3>
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.input :comment,
          input_html: { placeholder: 'Your comment...' } %>
        <%= f.association :movie %>
        <%= f.button :submit, class: 'btn btn-outline-success'%>
      <% end %>
  </div>
</div>
